.main{
  border: 1px solid black;
  height: 1000px;
  width: 100%;
}
.row1{
  border: 1px solid black;
  height: auto;
  width: 100%;
  /* background-color:gray; */
  display: flex;
  justify-items: center;
  align-items: center;
}
.container{
  flex-basis: 70%;
  border: 1px solid black;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.form-control{
  height: 50px;
}
.cards-container{
  border: 1px solid blue;
  height: auto;
}